/* DOCUMENT */

@page {
    size: auto;
}


body {
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-family: "Liberation Serif";
    background-color: white;
}


/* CONTENT */

img {
    max-width: 90%;
    height: auto;
    image-resolution: from-image;
}

sup  {
    font-size: 80%;
}

p {
    line-height: 130%;
    word-break: break-word;
    /* text-align: justify; */
    text-align: left;
}

a {
    color: #ED8606;
    text-decoration: none;
    word-wrap: break-word;
}

ol, ul {
    text-align: justify;
}

li {
    margin-left: 1em;
    word-wrap: break-word;
    page-break-inside: avoid;
    windows: 4;
    orphans: 4;
}

/* HEADINGS */

h1 {

}

h1 .initial {
    display: none;
}

h1 .subtitle {
}

h1 .author {
    display: block;
    margin-top: 0.2in;
    font-weight: normal;
}

h1 .comma {
    font-size: 22pt;
    display: none;
}

h2 {
    page-break-after: avoid;
}

h3 {
    page-break-after: avoid;
}

h4 {
    page-break-after: avoid;
}

h5 {
    font-weight: normal;
    text-align: left;
    page-break-after: avoid;
}

/* CODE BLOCKS */

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    widows:4;
    orphans:4;
}

code {

}



/* TOC */

#pagination-toc-title {
    font-size: 15pt;
    font-weight: 700;
    text-align: left;
    padding-bottom: .2in;
    color:#ED8606;
}

.pagination-toc-entry {
/*    width: 6.2in; */
    width: 90%;
    display: block;
    padding-bottom: .1in;
    font-size: 13pt;
}

.pagination-toc-entry .pagination-toc-pagenumber {
    font-weight: 400;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 13pt;
    float:left; /* SET AUTOMATICALLY */
    padding-right:5px;
    width:30px;
    text-align:right;
    color:#ED8606;
}

.pagination-toc-entry.section {
    font-weight:700;
    font-size: 13pt;
    text-transform: uppercase;
    padding-bottom: .1in;
    padding-top: .3in;
}


/* FRONT MATTER */

#booktitle {
    margin-top: 1.7in;
    font-size: 26pt;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color:#ED8606;
}

#booksubtitle {
    font-size: 22px;
    margin-top: 0.2in;
    font-weight: normal;
    text-align: center;
}

#bookeditors {
    padding-top: 1.5in;
    font-weight: normal;
    text-align: center;
    font-size: 24pt;
}

#bookpress {
    padding-top: 1.8in;
    font-weight: normal;
    text-align: center;
    font-size: 24pt;
}

#copyrightpage {
    font-weight: normal;
    font-size: 18pt;
    padding-top: 0.2in;
    color:#ED8606;
}


/* HEADER */

.pagination-header {
   font-size: 12pt;
   font-weight: light;
    color:#ED8606;
}

.pagination-pagenumber {
   font-size: 16pt;
   text-shadow: 0px 0px 9 #333;
   color:#333;
}

.pagination-header .pagination-section { display: none; }


.pagination-toc-text .initial { display: none; }
.pagination-chapter .initial { display: none; }


/* MISC */

.imagecaption {
    font-size: 9pt;
    padding-left: 0.2in;
    line-height: 18px;
    text-align: justify;
    font-weight: normal;
    display: block;
}


.pagebreak {
    -webkit-region-break-after: always;
}

.pagebreakbefore {
    -webkit-region-break-before: always;
}

.objavi-chapter .initial {
    display: none;
}

.objavi-subsection {
    display: none;
}

.objavi-subsection-heading {
    line-height: 120px !important;
    /* work-around to make section title pages no longer than one page */
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    display: none;
    color:#ED8606;
}

@media screen {
    .page {
        border: solid 1px #000;
        margin-bottom: .2in;
    }

    body {
	background-color: #efefef;
    }
}

#InsertNote_NoteList { word-wrap: break-word; } 



